@font-face {
    font-family: 'Conv_Montserrat-Light';
    src: url('../fonts/Montserrat-Light.eot');
    src: local('☺'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: local('☺'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8lv3y4');
  src:  url('../fonts/icomoon.eot?8lv3y4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8lv3y4') format('truetype'),
    url('../fonts/icomoon.woff?8lv3y4') format('woff'),
    url('../fonts/icomoon.svg?8lv3y4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body,html{
background:#fff;
font-family: 'Conv_Montserrat-Light';
    color: #000;
    font-size: 12px;
    overflow-x:hidden!important;
    font-smooth: always;
    line-height:24px;
    font-weight:700;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;   
}
body.font-12{
background:#e9ecee;
font-family: 'Conv_Montserrat-Light';
    color: #000;
    font-size: 12px;
    overflow-x:hidden!important;
    font-smooth: always;
    line-height:24px;
    font-weight:700;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;   
}
body.font-14{
background:#e9ecee;
font-family: 'Conv_Montserrat-Light';
    color: #000;
    font-size: 14px;
    overflow-x:hidden!important;
    font-smooth: always;
    line-height:24px;
    font-weight:700;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;   
}
body.font-16{
background:#e9ecee;
font-family: 'Conv_Montserrat-Light';
    color: #000;
    font-size: 16px;
    overflow-x:hidden!important;
    font-smooth: always;
    line-height:24px;
    font-weight:700;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;   
}
body.login,html{
    background:#fff;
    font-family: 'Conv_Montserrat-Light';
    color: #000;
    font-size: 12px;
    overflow-x:hidden!important;
    font-smooth: always;
    line-height:24px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;   
}
 a:hover, a:focus, a:active, a.active {
    color: #23527c;
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h1 {
    font-family: 'Conv_Montserrat-SemiBold';
    font-size:18px;
    font-weight: 400;
    color:#0083d8;
    margin: 0px 0px 20px;
    padding: 0px 0px 20px 0px;
    text-transform:uppercase;
    border-bottom:solid 1px #eaeaea;
}
h2 {
    font-family: 'Conv_Montserrat-SemiBold';
    font-size: 32px;
    font-weight: 400;
    color: #000;
    padding-bottom:10px;
    text-transform: capitalize;
}
h3 {
    font-family: 'Conv_Montserrat-SemiBold';
    font-size: 20px;
}
h4 {
    font-family: 'Conv_Montserrat-SemiBold';
    font-size: 18px;
    font-weight: 700;
    color: #000;
    text-transform: upper;
}
h5 {
    font-family: 'Conv_Montserrat-SemiBold';
    font-size: 16px;
    color: #4d4d4d;
    font-weight: normal;
}
h6 {
    font-size: 14px;
}
header.login {
 
    padding: 0px 0px;
    background: #0092ab;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    z-index: 10;
    transition: all .6s;
    padding:0px 0;
    height:60px;
}

.btn {
font-size:inherit;  
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}
li{list-style:none;}
.contentarea {
    margin: 60px 0px 60px;
}
    border-bottom: solid 1px #ccc;
    padding:0px 0px;
    background:#fff;
}
.headertop{height:58px;}
.login .headertop {
    height:60px;
}
.login .cta {
    color: #fff;
    text-align: right;
    padding:5px 0px;
}
.login #logo {
    padding:15px 0px;
    font-size:30px;
    color:#fff;
}
.login #logo a{ color:#fff;}
.headertop p {
    margin: 0px;
    font-weight: bold;
}
.table>tbody>tr>td {
    font-family: 'Conv_Montserrat-light';
    font-weight: normal;
    margin: 0px;
    line-height: 32px;
}
div.tablearea table.table.table-striped tbody tr td.no-padding{padding:0px;}
.no-padding-left {
    padding-left: 0px;
}
.no-padding-right {
    padding-right: 0px;
}
.padding-20 {
    padding-right:20px;
    padding-left:20px;
}

#logo {
        padding: 15px 0px;
    font-size: 30px;
    color: #fff;
    margin: auto;
    width: 101%;
    /* text-align: center; */
    margin: 0 auto;
    /* width: 500px; */
    text-align: center;
    /* background: red; */
    position: relative;
}
.logwith{ position:relative; top:5px;}
.social a img{ width:40px;}
#logo img {
    margin: 5px;
    padding: 5px;
    width: 115px;
    float: left;
}
.cta h3 {
    color: #fff;
    margin: 0px;
}
.cta {
    color: #6b6b6b;
    text-align: right;
}
.inputsarea {
    padding: 30px 0px 0px 0px;
    display: inline-block;
    width: 100%;
}

.has-feedback label~.form-control-feedback {
    top: 30px;
    color:#72c312;
}
.form-control {
    display: block;
    width: 100%;
    height:40px;
    padding: 6px 12px;
    line-height: 1.42857143;
    font-weight:bold;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.savedinputsarea {
    padding: 10px 0px 5px 15px;
    display: inline-block;
    width: 100%;
}
.tablearea{
    padding: 10px 15px 5px 15px;
    display: inline-block;
    width: 100%;    
}

div.tablearea table.table.table-striped tbody table tr td{ border-top:none; border-bottom:none;}
.tablearea table th{border:solid 1px #ddd;}
.tabsarea{
   padding:15px;
    display: inline-block;
    width: 100%;    
}
.table-responsive table{text-align:left; font-weight:normal;    font-family: 'Conv_Montserrat-Light';}
label{color:#86939a; text-transform:uppercase;}
.inputsarea .form-group label i{padding-right:5px;}
#headerTab.nav-tabs>li>a {
    padding:20px 34px;
    color:#404040;
    border: none;
    border-radius: 0px;
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
}
#headerTab.nav-tabs>li>a:hover,#headerTab.nav-tabs>li.active>a{
border-bottom:solid 4px #0085cc;
margin:0px;
color:#0085cc;
background:none;
}
.loginpage{
-webkit-box-shadow: 0px 24px 29px -9px rgba(191,191,191,1);
-moz-box-shadow: 0px 24px 29px -9px rgba(191,191,191,1);
box-shadow: 0px 24px 29px -9px rgba(191,191,191,1); 
background:#fff;
    border-radius: 8px;
    margin: 80px auto;
    padding: 0px;
    width: 700px;
    padding:0px 0px 0px 15px;
}
#headerTab.nav-tabs>li:last-child{
  border-right: solid 1px #ccc; 
}
#headerTab.nav-tabs>li {
    float: left;
    margin-bottom: 0px;
   border-left: solid 1px #ccc;
    
}
ul#headerTab{
float:left;
border:none;
}
.loginpage form {
    padding: 20px 0px 20px 0px;
}
h4{
color:#000000;
font-weight:600;
font-size:18px; 
}
section#validation {
    background: #e3e6e8;
    padding: 20px 0px;
}
section#buyorsell{
 padding: 20px 0px; 
}
section#overview {
    padding: 20px 0px;
}
#buyorsell .nav-tabs>li.active>a, #buyorsell .nav-tabs>li.active>a:focus, #buyorsell .nav-tabs>li.active>a:hover {
    background: #fff;
    font-weight: bold;
    color: #86939a;
    padding: 15px 50px;
    border:none;

}
#buyorsell .nav-tabs>li>a{
background: #fcfefe; /* Old browsers */
background: -moz-linear-gradient(top, #fcfefe 0%, #eaedee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcfefe 0%,#eaedee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcfefe 0%,#eaedee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfefe', endColorstr='#eaedee',GradientType=0 ); /* IE6-9 */
    font-weight: bold;
    color: #000000;
    padding: 15px 50px;
border:none;
}
section#overviewsection .nav-tabs>li.active>a, section#overviewsection .nav-tabs>li.active>a:focus, section#overviewsection .nav-tabs>li.active>a:hover {
    background: #fff;
    font-weight: bold;
    color: #86939a;
    padding: 15px 50px;
    border:none;

}
section#overviewsection .nav-tabs>li>a{
background: #fcfefe; /* Old browsers */
background: -moz-linear-gradient(top, #fcfefe 0%, #eaedee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcfefe 0%,#eaedee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcfefe 0%,#eaedee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfefe', endColorstr='#eaedee',GradientType=0 ); /* IE6-9 */
    font-weight: bold;
    color: #000000;
    padding: 15px 50px;
border:none;
}
#overviewsection #overview-Tab.nav-tabs>li>a{
font-family: 'Conv_Montserrat-Light';   
background:none;
font-weight:700;
color: #000000;
padding: 15px 20px;
border:none;    
}
#overviewsection #price-Tab.nav-tabs>li>a{
font-family: 'Conv_Montserrat-Light';   
background:none;
font-weight:700;
color: #70797d;
padding: 15px 20px;
border:none;    
}
#overviewsection ul#price-Tab {
    background: #d7dcdf;
       border-bottom: solid 2px #cccccc;
}
#overviewsection #price-Tab.nav-tabs>li a {
    border-bottom:none;
}
#overviewsection #price-Tab.nav-tabs>li.active>a, #overviewsection #price-Tab.nav-tabs>li.active>a:focus, #overviewsection #price-Tab.nav-tabs>li.active>a:hover {
    font-family: 'Conv_Montserrat-Light';
    background: none;
    font-weight: 700;
    color: #70797d;
    padding: 15px 20px;
    border-bottom: solid 2px #0085cc;
}
.ui-widget {
  font-family: 'Conv_Montserrat-Light';
    font-size:14px;
    font-weight:normal;
}
.share {
    background: #f3f3f3;
    padding: 8px 0px;
    display: inline-block;
    width: 100%;
    border-bottom: solid 2px #efecec;
}
.pricetag {
    background: url(../images/spread.svg) no-repeat left top;
    padding: 0px 20px 5px 40px;
    margin: 0px;
}
.addtolist i{
    padding: 0px 10px 0px 0px;
    font-size: 18px;
}
button.addtolist {
    background: #0b81c9;
    position: absolute;
    right: 0px;
    border-radius: 0px 4px 4px 0px;
    top: 0px;
    color: #fff;
    padding: 8px 15px;
    font-weight: normal;
    font-size: 14px;
}

.inputcontroll {
    position: relative;
    display: inline-block;
    width: 100%;
}
.tabsarea .table-responsive table,.tablearea .table.table-striped {margin-bottom:0px;}
#price-Tab #overview-Tab.nav-tabs {
    border-bottom: none;
}
#price-Tab #overview-Tab.nav-tabs>li a{
     border-bottom:solid 2px #eeeeee;
}
#overviewsection #overview-Tab.nav-tabs {
    border-bottom: solid 2px #eeeeee;
}
#overviewsection #overview-Tab.nav-tabs>li a{
     border-bottom:none;
}
#overviewsection #overview-Tab.nav-tabs>li.active>a, #overviewsection #overview-Tab.nav-tabs>li.active>a:focus,#overviewsection #overview-Tab.nav-tabs>li.active>a:hover {
font-family: 'Conv_Montserrat-Light';   
background:none;
font-weight:700;
color: #0085cc;
padding: 15px 20px;
border-bottom:solid 2px #0085cc;

}
.top-section{
background:#fff;
display:inline-block;
width:100%;
}
.validate-section{
background:#f3f3f3;
border:solid 1px #fff;
padding:60px 30px;  
}
.validate-section h4{
    text-align:center;
    font-size:14px; 
}
.validate-section h3{
    color:#69ba00;
    margin: 0px 0px 20px;
    font-size:32px;
    font-weight:bold;
    text-align:center;
}
.saved-section {
    background: #e9ecee;
    border: solid 3px #d7dcdf;
    padding:5px;
    margin: 10px;
    border-radius:4px;
}
.custom-green{
font-family: 'Conv_Montserrat-SemiBold';    
background: #72c312; /* Old browsers */
background: -moz-linear-gradient(top, #72c312 0%, #5c9815 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #72c312 0%,#5c9815 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #72c312 0%,#5c9815 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72c312', endColorstr='#5c9815',GradientType=0 ); /* IE6-9 */
border:none;
width:100%;
border-radius:4px;
color:#fff;
height:50px;
font-weight:bold;   
}
.custom-green:hover,.custom-blue1:hover,.custom-blue2:hover,.custom-ash:hover{
color:#fff; 
}
.custom-blue1{
font-family: 'Conv_Montserrat-SemiBold';    
background: #0085cc;
border:none;
width:100%;
border-radius:4px;
color:#fff;
height:38px;
font-weight:bold;   
    
}
.custom-blue2{
font-family: 'Conv_Montserrat-SemiBold';    
background: #06b4df;
border:none;
width:100%;
margin:5px 0px 0px;
border-radius:4px;
color:#fff;
height:38px;
font-weight:bold;   
    
}
.whitebg {
    background: #fff;
    padding:24px 60px;
    text-align: center;
    margin-bottom:5px;
    text-transform:uppercase;
}
.whitebg h3{
color:#0085cc;
font-size:30px;
margin:0px; 
}
.custom-ash{
font-family: 'Conv_Montserrat-SemiBold';    
background: #516874;
border:none;
width:100%;
margin-top:5px;
border-radius:4px;
color:#fff;
height:40px;
font-weight:bold;   
}
:placeholder-shown {
    color: #000;
    text-align: left;
}
.bottom-black {
    background: #2c2d2d;
    padding: 0px;
    display: inline-block;
    width: 100%;
    color: #fff;
    text-align:center;
}
.fa-handshake-o {
    background: url(../images/handshake.png) no-repeat center top;
    width: 63px;
    height: 40px;
    margin-top:5px;
}
.pro-image-block-content {
    padding: 0px 0px;
    margin: 20px 0px 15px;
}
.pro-image-block-content.last-child{
border-right:none;          
}
td.bordernone{border:none;}
.pro-image-block-content{
border-right:solid 1px #90aebf; 
}
.pro-image-block-content h3{
margin:0px; 
}
.pro-image-block-content h4{color:#90aebf; font-size:12px; text-transform:uppercase;margin:5px 0px 5px 0px;}
.pro-image-block-content span.count{
margin:0px 0px 0px; 
}
.pro-image-block-content span {
    width: 100%;
    margin: 15px 0px;
    display: inline-block;
    font-size: 30px;
}
.loginpage a.button {
    background: #337ab7;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    width: 100%;
    border: none;
    padding: 5px;
    margin: 10px 0px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}
.loginpage button:hover,.loginpage button:focus ,.loginpage button:active {
    background:#407a02;
    font-weight:bold;
    font-size: 14px;
    color: #fff;
}

.loginpage input{
    border:solid 1px #c0c0c0;
    height: 38px;
    box-shadow:none;
}
.loginpage .checkbox input[type=checkbox]{
    border: solid 1px #c0c0c0;
    height: 20px;
    box-shadow: none;
    background: #fff;
    width: 20px;
    
}
.loginpage h4 {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    margin: 20px 0px;
}
.checkbox::before {
  width: 27px;
  height: 27px;
  background-color: #fff;
  left: -35px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color .2s;
}
.checkbox:hover::before {
  border: 3px solid #F0FF76;
}
.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -31px;
  top: 2px;
  color: transparent;
  transition: color .2s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: #62AFFF;
}
.loginpage a{color:#0085cc;}
.checkbox span{padding-left:0px;font-weight:bold;}
.trydemo {
    color: #404040;
    text-align: center;
    margin-top: 20px;
    border-top: solid 1px #ccc;
    padding: 14px 0px;
    font-weight: bold;
}
.loginpage button.freetrail:hover{
    background:#3b4d56;
    font-weight:bold;
    font-size: 14px;
    color: #fff;
}
.loginpage button.freetrail {
    background: #516874;
    font-weight:bold;
    font-size: 14px;
    color: #fff;
    width: 100%;
    border: none;
    padding: 7px;
    margin: 0px 0px;
}
.rightpanel{
    background: url(../images/login-bg.jpg) center 0px no-repeat;
    width: 100%;
    height: 523px;
    background-size: 100%;
    padding: 20px 0px 0px;
    border-radius: 0px 8px 8px 0px;
    position: relative;
}
.login-content {
    position: absolute;
    bottom: 15px;
    font-size:12px;
    padding: 0px 20px;
    color: #6b6b6b;
    line-height: 18px;
    font-weight: bold;
}
.login-content h6{
color:#000; 
}


#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(0,107,150, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.dropdown-menu {
  background-color: #004059;
  color: black;
  border: 0px;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 260px !important;
}

.dropdown-menu>li>a {
  background-color: #004059;
  color: white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #004059;
  color:white;
}

.dropdown-menu .divider {
    height: 0px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #003246;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
}

@media (max-width: 767px) { 
  .dropdown-menu>li>a {
    background-color: #0092ab;
    color: #ffffff;
  }
  .dropdown-menu>li>a:hover {
    color: #ffffff;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #ffffff;
    background-color: transparent;
  }
  
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #005577;
  }
} /* END Media Query */





footer {
  padding: 25px 0;
  text-align: center;
  background-color: #0092ab;
}
footer span.copyright {
  line-height: 40px;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

.login_modal_footer{margin-top:5px;}
.login_modal_header .modal-title {text-align: center;font-family:'Philosopher',sans-serif; }
.form-group{position: relative;}
.form-group .login-field-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all 0.25s ease 0s;
    padding-top: 2%;
}
.login-modal{
    width:100%;
    padding-bottom:20px;
}
.login_modal_header, .login_modal_footer {background: #0092ab !important;color:#fff;}
.modal-register-btn{margin: 4% 33% 2% 33% ;
    margin-top: 100px;
    padding-top: 70px;
}
.login-modal input{height:40px; box-shadow: none; border:1px solid #ddd;}
.modal-body-left{float:left; width:50%; padding-right:4%; border-right:4px solid #ddd;}
.modal-body-right{float:right; width:47%;}
.login-link{padding:0 20%;}
.modal-social-icons{padding:10% 10%;}
.facebook, .twitter, .google, .linkedin {width:100%;height:40px;  margin-top:2%;}
.modal-icons{margin-left: -10px; margin-right: 20px;}
.google, .google:hover{background-color:#dd4b39;border:2px solid #dd4b39;color:#fff;}
.twitter, .twitter:hover{ background-color: #00aced; border:2px solid #00aced;color: #fff;}
.facebook, .facebook:hover{background-color: #3b5999 !important; border:2px solid #3b5999;color:#fff;}
.linkedin, .linkedin:hover{background-color: #007bb6; border: 2px solid #007bb6; color:#fff;}
#social-icons-conatainer{position: relative;}
#center-line{position: absolute;  right: 271.7px;top: 59px;background:#ddd;  border: 4px solid #DDDDDD;border-radius: 20px;}
.modal-login-btn{width:100%;height:40px; margin-bottom:10px;}
#modal-launcher{margin: 30% 0 0 30%; }
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #0092ab;
    border-color: #0092ab;
}
.btn-success {
    color: #fff;
    background-color: #0092ab;
    border-color: #0092ab;
}

@media (max-width: 767px) {
.modal-register-btn{margin: 4% 33% 2% 33% ;right: 47%;
    top: 168px;}
.login-link {
     padding: 0 0%; 
}
#center-line{position: absolute;
    right: 47%;
    top: 168px;
    background: #ddd;
    border: 4px solid #DDDDDD;
    border-radius: 20px;}

.modal-body-left{float:left; width:100%; padding-bottom:30px; border-bottom:4px solid #ddd;border-right:0px solid #ddd;}
.modal-body-right{float:right; width:100%;}


.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.modal-dialog{margin-left: 20%;}
.space-ten{padding: 10px 0;}




.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

