<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="3 seconds">

    <!-- This will be filterd at compile-time -->
    <contextName>${project.artifactId}</contextName>

    <!-- Simple console appender (server log) -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{MMM dd yyyy HH:mm:ss.SSS} ${HOSTNAME} %contextName %C %M %X%n%p: [%t] %m%n%n</pattern>
        </encoder>
    </appender>

    <!-- EXAMPLE OPS Log: Rolling File Appender, JSON format, filtered for INFO level only -->
    <appender name="ops-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/billlive-ops.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/billlive-ops.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <!-- JSON FORMAT -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.beatus.app.manufacturer.logging.CustomJsonLayout">
                <jsonFormatter class="com.beatus.app.manufacturer.logging.CustomJacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampFormat>
                <timestampFormatTimezoneId>UTC</timestampFormatTimezoneId>
                <includeContextName>true</includeContextName>
            </layout>
        </encoder>
        <!-- Filter out everything below the INFO threshold -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    
    <appender name="parameter-validation-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/parameter-validation-ops.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/parameter-validation-ops.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <!-- JSON FORMAT -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.beatus.app.manufacturer.logging.CustomJsonLayout">
                <jsonFormatter class="com.beatus.app.manufacturer.logging.CustomJacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampFormat>
                <timestampFormatTimezoneId>UTC</timestampFormatTimezoneId>
                <includeContextName>true</includeContextName>
            </layout>
        </encoder>
        <!-- Filter out everything below the INFO threshold -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    
    <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="ops-log" />
    </root>
    
    <logger name="parameter-validation-log" level="INFO" additivity="false">
        <appender-ref ref="parameter-validation-log" />
        <!-- ops-log will not get INFO, WARN, ERROR from this logger-->
    </logger>

</configuration>
